In [1]:
import pandas as pd

# Zad1

## 1

In [2]:
df = pd.read_csv("train.csv.csv",delimiter=';',encoding='cp1250')
df

,stacja,styczeń,luty,marzec,kwiecień,maj,czerwiec,lipiec,sierpień,wrzesień,październik,listopad,grudzień
0,Warszawa Wschodnia,2084,1963,3269,2569,3180,3063,3303,2935,2467,3570,3047,4644
1,Wrocław Główny,1826,1457,2204,1657,1988,2976,3771,3238,2659,2969,2766,2720
2,Warszawa Zachodnia,2065,1954,3196,2502,3090,2758,2967,2437,2234,3530,2918,4421
3,Poznań Główny,1603,1509,1728,1323,1626,2021,2264,2171,1463,1407,1705,2118
4,Katowice,1630,1243,1856,1346,1498,1969,2250,2012,1314,1448,1530,2450
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2817,Chorzów Stary,33,29,15,0,0,0,0,0,0,0,0,0
2818,Ciechocinek,0,0,0,0,0,0,0,0,0,0,0,0
2819,Hucisko,2,2,5,4,3,0,0,1,2,0,0,1
2820,Czernica Wrocławska,120,108,63,0,0,0,0,0,0,147,181,130
2821,Biała,0,0,0,0,0,0,0,0,0,0,0,0

## 2

In [3]:
df.isnull().sum()

stacja         0
styczeń        0
luty           0
marzec         0
kwiecień       0
maj            0
czerwiec       0
lipiec         0
sierpień       0
wrzesień       0
październik    0
listopad       0
grudzień       0
dtype: int64

## 3

In [4]:
# change all columns names to english
new_names = {"stacja": "station", "styczeń": "january", "luty": "february", "marzec": "march", "kwiecień": "april", "maj": "may", "czerwiec": "june", "lipiec": "july", "sierpień": "august", "wrzesień": "september", "październik": "october", "listopad": "november", "grudzień": "december"}
df.rename(columns=new_names, inplace=True)
df

,station,january,february,march,april,may,june,july,august,september,october,november,december
0,Warszawa Wschodnia,2084,1963,3269,2569,3180,3063,3303,2935,2467,3570,3047,4644
1,Wrocław Główny,1826,1457,2204,1657,1988,2976,3771,3238,2659,2969,2766,2720
2,Warszawa Zachodnia,2065,1954,3196,2502,3090,2758,2967,2437,2234,3530,2918,4421
3,Poznań Główny,1603,1509,1728,1323,1626,2021,2264,2171,1463,1407,1705,2118
4,Katowice,1630,1243,1856,1346,1498,1969,2250,2012,1314,1448,1530,2450
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2817,Chorzów Stary,33,29,15,0,0,0,0,0,0,0,0,0
2818,Ciechocinek,0,0,0,0,0,0,0,0,0,0,0,0
2819,Hucisko,2,2,5,4,3,0,0,1,2,0,0,1
2820,Czernica Wrocławska,120,108,63,0,0,0,0,0,0,147,181,130
2821,Biała,0,0,0,0,0,0,0,0,0,0,0,0

# Zad2
## 1

In [5]:
means = pd.DataFrame(df['station'])
means["mean"] = df.iloc[:, 1:].mean(axis=1)
means

                  station         mean
0      Warszawa Wschodnia  3007.833333
1          Wrocław Główny  2519.250000
2      Warszawa Zachodnia  2839.333333
3           Poznań Główny  1744.833333
4                Katowice  1712.166667
...                   ...          ...
2817        Chorzów Stary     6.416667
2818          Ciechocinek     0.000000
2819              Hucisko     1.666667
2820  Czernica Wrocławska    62.416667
2821                Biała     0.000000

[2822 rows x 2 columns]

## 2

In [6]:
max_delay = pd.DataFrame(df['station'])
max_delay["max_delay"] = df.iloc[:, 1:].idxmax(axis=1)
max_delay

                  station max_delay
0      Warszawa Wschodnia  december
1          Wrocław Główny      july
2      Warszawa Zachodnia  december
3           Poznań Główny      july
4                Katowice  december
...                   ...       ...
2817        Chorzów Stary   january
2818          Ciechocinek   january
2819              Hucisko     march
2820  Czernica Wrocławska  november
2821                Biała   january

[2822 rows x 2 columns]

## 3

In [7]:
# Oblicz całkowite opóźnienie na każdej stacji w ciągu roku. Użyj do tego sumy sum().
total_delay = pd.DataFrame(df['station'])
total_delay["total_delay"] = df.iloc[:, 1:].sum(axis=1)
total_delay

                  station  total_delay
0      Warszawa Wschodnia        36094
1          Wrocław Główny        30231
2      Warszawa Zachodnia        34072
3           Poznań Główny        20938
4                Katowice        20546
...                   ...          ...
2817        Chorzów Stary           77
2818          Ciechocinek            0
2819              Hucisko           20
2820  Czernica Wrocławska          749
2821                Biała            0

[2822 rows x 2 columns]

# Zad3
## 1

In [8]:
# Porównaj średnie opóźnienie między stacjami Warszawa Centralna a Warszawa Wschodnia
# dla każdego miesiąca. Użyj do tego bezpośredniego porównania wartości.
warszawa = df[(df['station'] == 'Warszawa Centralna') | (df['station'] == 'Warszawa Wschodnia')]
warszawa

,station,january,february,march,april,may,june,july,august,september,october,november,december
0,Warszawa Wschodnia,2084,1963,3269,2569,3180,3063,3303,2935,2467,3570,3047,4644
7,Warszawa Centralna,1138,1005,1622,1298,1613,1715,1960,1759,1280,1282,1334,1522

## 2

In [56]:
def bigger_than_mean(row):
    return row["mean_summer"] > row["mean_annu"]

summer = df.filter(items=["station", "june", "july", "august"])
summer["mean_annu"] = means["mean"]
summer["mean_summer"] = summer.iloc[:, 1:4].mean(axis=1)
summer["bigger summer"] = summer.agg(axis=1,func=bigger_than_mean)
summer = summer[summer["bigger summer"] == True]
summer["station"]

0       Warszawa Wschodnia
1           Wrocław Główny
3            Poznań Główny
4                 Katowice
5            Kraków Główny
               ...
2791           Karolinówka
2794      Majdan Stuleński
2800       Łaziska Średnie
2810     Głuchołazy Miasto
2816             Horka Gbf
Name: station, Length: 2165, dtype: object

# Zad4
## 1